<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>学生在线内部请假网</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap-grid.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/login.css">
<!--<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.js"></script>-->
</head>
<body>
    <header>
        <p><img  src="/static/all_green.png"    />学生在线内部请假网</p>
    </header>
    <section>
        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
            {% endfor %}
            <div style="width:100%; text-align:center">
            <hr style="width:20%; display:inline-block;"/>&nbsp;&nbsp;请登录&nbsp;&nbsp;<hr style="width:20%; display:inline-block;" />
            </div>
            <div class="d1">
            <form class="form" method="POST">
                {% import "bootstrap/wtf.html" as wtf %}
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.stu_number)}}
                {{ wtf.form_field(form.password)}}
                {{ wtf.form_field(form.submit, class="button button-3d button-action button-pill")}}
            </form>
            </div>
        </div>
    </section>
    <footer>
        <ul>
            <li class="li1">版权所有：中国矿业大学学生在线</li>
            <li class="li2">地址：江苏省徐州市大学路中国矿业大学南湖校区</li>
            <li class="li3">QQ：2822301878</li>
            <li class="li4"> 邮箱：online_cumt@foxmail.com
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;online@cut.edu.com</li>
        </ul>
    </footer>
</body>
</html>
