    {% extends "base.html" %}
    {% import "_macros.html" as macros%}
    {% block title %}
    请假信息
    {% endblock %}
    {% block page_content %}
    <div class="col-md-9 col-md-offset-1 row margin-top-20">
            <table class="width-auto table table-hover">
                <thead>
                    <tr style="color:#CDC8B1;">
                        <th>所在组别</th>
                        <th>会议类型</th>
                        <th>请假时间</th>
                        <th>请假原因</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appli in applications %}
                    <tr style="color:#CDC8B1;">
                    <td>{{appli.group}}</td>
                    <td>{{appli.type_of_meeting}}</td>
                    <td>{{appli.actual_time}}</td>
                    <td>{{appli.reason_for_leave}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% if pagination %}
        {{macros.pagination_widget(pagination,'main.profile', username=current_user.name)}}
        {% endif %}
        </div>
    {% endblock %}